@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Passion_of_code.Controllers.DaysInfo

<div class="">
    <h1 class="display-4">Archive</h1>
    <table>
        @foreach (var n in Model.days)
        {
            <tr>
                <p>
                    [<a asp-area="" asp-controller="Event" asp-action="Year" asp-route-year=@(n.day)> @Html.DisplayFor(modelItem => n.day) </a>]
                    @if (n.tally > 0)
                    {
                        @(n.tally.ToString() + " *")
                    }
                </p>
            </tr>
        }

        @if (Model.total > 0)
        {
            <tr><p>Total Tasks solved : @(Model.total) </p></tr>
        }

    </table>

    @if (Context.Session.GetString("uname") != null)
    {
        <a asp-area="" asp-controller="Event" asp-action="StatsEvent"> Stats for event </a>
    }
</div>
