@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Passion_of_code.Controllers.DaysInfo
@{
    ViewData["Title"] = "Stats For Task";
}

<style>
table, th, td {
  border: 1px solid black;
}
</style>                    
<div class="text-center">
</div>

<div class="text-left">
<table>
        <th>Language</th>
            <tr>
                <td>
                    <img src=@(ViewBag.Used_lang_graph) />
                </td>
            </tr>
        <tr><td></td><td></td> </tr>
        <th>Approach</th>
            <tr>
                <td>
                    <img src=@(ViewBag.Approach_graph) />
                </td>
            </tr>
        <tr><td></td><td></td> </tr>
        <th>Paradigm</th>
            <tr>
                <td>
                    <img src=@(ViewBag.Paradigm_graph) />
                </td>
            </tr>
        <tr><td></td><td></td> </tr>
        <th>Difficulty</th>
            <tr>
                <td>
                    <img src=@(ViewBag.Difficulty_graph) />
                </td>
            </tr>
    </table>
</div>
